a{
    background-color: blue;
}
p{
    background-color: brown;
}
h1{
    background-color: blue;
}
h2{
    background-color: aqua;
}
h3{
    background-color: blueviolet;
}
tr{
    background-color: pink;
}
ul{
    background-color: blue;
}