h5{
    text-align: right;
    font-size: 16px;
    font-weight: 100;  
}
h2{
    text-align: center;
}
h3{
    text-align: right;
    font-size: 16px;
    font-weight: 100;
}
p{
    text-indent: 40px;
}
h4{
    font-size: 16px;
    font-weight: 100;
}
h6{
    font-size: 16px;
    font-weight: 100;
}
img{
    /* padding-top: 30px; 
    padding-right: 30px;
    padding-bottom: 30px; 
    padding-left: 30px;  */
    margin-right: auto;
    margin-left: auto; 
    width: 150px;
    border-width: 10px;
    border-style: double;
    border-color: brown;
    outline-width: 10px;
    outline-style: double;
    outline-color: blue;
    background-color: aqua;
}
